<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocketServerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9B8B9A01F1C942100C70A66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B8B9B91F1C942100C70A66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B8B9C41F1C942100C70A66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
